.card-scroller::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
    height: 8px; /* Adjust the height of the scrollbar for horizontal scrolling */
}

.card-scroller::-webkit-scrollbar-thumb {
    background-color: #bab8b8; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Add rounded corners to the thumb */
}

.card-scroller::-webkit-scrollbar-thumb:hover {
    background-color: darkgray; /* Slightly darker thumb on hover */
}

.card-scroller::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Light background for the track */
    border-radius: 4px; /* Match the thumb's corner rounding */
}

a {
    text-decoration: none;
}

.device-entry {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.device-entry:last-child {
    border-bottom: none;
}

.experiment:hover {
    background-color: darkgray;
}